@st-import [--color-primary-contrast] from "../../common/project.st.css";

.root {}

.star {
    -st-states: isHighlighted;
    color: var(--color-primary-contrast);
    padding: 1px;
}

.star:not(:isHighlighted) {
    opacity: 0.2;
}
