@st-import [
    mobile, 
    desktop, 
    --color-primary, 
    --unit-m, 
    --font-xs, 
    --font-s, 
    --font-m, 
    --font-l,
    --font-xl, 
    --font-xxl, 
    --unit-xxl, 
    --overlay-color-1, 
    --color-primary-contrast, 
    --font-family-primary, 
    --font-family-secondary
] from "../../../common/project.st.css";
@st-import ProductItem from "../product-item.st.css";

.basicProductItem {
    -st-extends: ProductItem;
    font-family: var(--font-family-secondary);
}

.basicProductItem::productImage {
    transition: all 0.2s;
}

.basicProductItem::productImage:hover {
    transform: scale(1.1);
}

.basicProductItem::bannerNew {
    border-radius: 2px;
    letter-spacing: 1.7px;
    text-transform: uppercase;
    font-size: var(--font-s);
    color: var(--color-primary);
    background-color: var(--color-primary-contrast);
}

.basicProductItem::sectionMain {
    padding: var(--unit-xxl);
    background: var(--overlay-color-1);
}

.basicProductItem::addToCartButton {
    text-transform: uppercase;
    text-align: center;
    font-weight: 300;
    letter-spacing: 2px;
    transition: all 0.2s;
    width: 100%;
    font-size: var(--font-m);
    color: var(--color-primary-contrast);
    border: 1px solid var(--color-primary-contrast);
}

.basicProductItem::addToCartButton:hover {
    background: var(--color-primary-contrast);
    color: var(--color-primary);
}

.basicProductItem::addToCartButton:isAddedToCart {
    border: 1px solid var(--color-primary-contrast);
    background: var(--color-primary-contrast);
    color: var(--color-primary);
}

.basicProductItem::addToCartButton:isAddedToCart:hover {
    filter: contrast(0.4)
}

.basicProductItem::productInfo {
    display: grid;
    min-height: 124px;

    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr auto;
}

.basicProductItem::title {
    align-self: center;
    font-size: var(--font-xxl);
    transition: all 0.2s;
    text-decoration: none;
    font-family: var(--font-family-primary);
    color: var(--color-primary-contrast);
}


.basicProductItem::modelName {
    font-weight: 300;
    color: var(--color-primary-contrast);
}

.basicProductItem::priceLabel {
    align-self: center;
    font-weight: 300;
    color: var(--color-primary-contrast);
    justify-self: end;
}

.basicProductItem::rating {
    margin-top: 0.25rem;
    justify-self: end;
}

.basicProductItem::starsRating {
    font-size: var(--font-s);

}

.basicProductItem::reviewsCount {
    font-weight: 300;
    color: var(--color-primary-contrast);
    margin-top: var(--unit-m);
}

@media value(mobile) {

    .basicProductItem::modelName {
        font-size: var(--font-m);
    }

    .basicProductItem::priceLabel {
        font-size: var(--font-l);
    }

    .basicProductItem::reviewsCount {
        font-size: var(--font-xs);
    }

    .basicProductItem::addToCartButton {
        padding: 12px 0;
    }

    .basicProductItem::productImage {
        height: 335px;
    }

}

@media value(desktop) {

    .basicProductItem::title:hover {
        transform: skewX(-8deg);
    }

    .basicProductItem::modelName {
        font-size: var(--font-l);
    }

    .basicProductItem::priceLabel {
        font-size: var(--font-xl);
    }

    .basicProductItem::reviewsCount {
        font-size: var(--font-s);
    }

    .basicProductItem::addToCartButton {
        padding: 15px 0;
    }

    .basicProductItem::productImage {
        height: 410px;
    }
}
