:import {
    -st-from: "../common/project.st.css";
    -st-named:
        --color-bg,
        --color-primary,
        --color-primary-contrast,
        --overlay-color-1,
        --overlay-color-8,
}

:import {
    -st-from: "../components/products-collection-page/products-collection-page.st.css";
    -st-default: ProductPage;
}

:vars {
    brownish: rgb(70, 57, 57);
}

.root {
    --color-bg: value(brownish);
    --color-primary: rgb(255, 255, 255);
    --color-primary-contrast: rgb(0, 0, 0);
    --overlay-color-1: rgba(0, 0, 0, 0.07);
    --overlay-color-8: rgba(0, 0, 0, 0.8);
}

@st-scope .root {
    /* 
        Due to the color palette used in this theme additional component overrides 
        were required in order to achieve the desired look.
    */
    ProductPage::pageBody {
        --color-primary-contrast: rgb(255, 255, 255);
    }

    /* 
        Targetting specific usages of a component to 
        make sure they match the rest of the design
    */
    ProductPage::productList::productItem::bannerNew {
        --color-primary-contrast: value(brownish);
    }

    ProductPage::productList::productItem::addToCartButton:hover {
        color: value(brownish);
    }

    ProductPage::productList::productItem::addToCartButton:isAddedToCart {
        color: value(brownish);
    }
}
