@st-import StarsRating from "../stars-rating/stars-rating.st.css";
@st-import Button from "../button/button.st.css";

.root {
    position: relative;
}

.sectionMain {
    position: relative;
}

.imageLink {}

.productImage {
    width: 100%;
    margin-bottom: 20px;
}

.bannerNew {
    position: absolute;
    top: 8px;
    right: 8px;
    padding: 12px 24px;
}

.addToCartButton {
    -st-extends: Button;
    -st-states: isAddedToCart;
}

.productInfo {}

.title {}

.modelName {}

.priceLabel {}

.rating {}

.starsRating {
    -st-extends: StarsRating;
}

.reviewsCount {}