@st-import Base, [
    --border-primary-contrast-1, 
    --color-primary-main, 
    --color-primary-dark, 
    --color-primary-contrast, 
    --color-secondary-main, 
    --color-secondary-dark, 
    --color-secondary-contrast, 
    --color-success-main, 
    --color-success-dark, 
    --color-success-contrast
] from "../common/base.st.css";
@st-import Button from "../components/button/button.st.css";
@st-import [cancelButton, okButton] from "../components/button/variants.st.css";
@st-import Card from "../components/card/card.st.css";
@st-import ImageView from "../components/image-view/image-view.st.css";
@st-import Menu from "../components/menu/menu.st.css";

.root {
    -st-extends: Base;
    --color-primary-main: #1976d2;
    --color-primary-dark: #115293;
    --color-primary-contrast: white;
    --border-primary-contrast-1: 1px solid white;

    --color-secondary-dark: #9a0036;
    --color-secondary-main: #dc004e;
    --color-secondary-light: #e33371;
    --color-secondary-contrast: white;

    --color-success-dark: #388e3c;
    --color-success-main: #4caf50;
    --color-success-light: #81c784;
    --color-success-contrast: white;
}

@st-scope .root {
    Button {
        padding: 1rem;
    }

    Card {}

    ImageView {}

    Menu {}

    .cancelButton {
        --color-secondary-dark: gold;
        --color-secondary-main: orange;
    }

    .okButton {}

}
