@namespace "Header";

:import {
    -st-from: "../../common/project.st.css";
    -st-named:
        mobile,
        desktop,
        --color-primary-contrast;
}

:import {
    -st-from: "../mobile-menu/mobile-menu.st.css";
    -st-default: MobileMenu;
}

:import {
    -st-from: "../logo/logo.st.css";
    -st-default: Logo;
}

:import {
    -st-from: "../menu/menu.st.css";
    -st-default: Menu;
}

:import {
    -st-from: "../user-status/user-status.st.css";
    -st-default: UserStatus;
}

:import {
    -st-from: "../shopping-cart/shopping-cart.st.css";
    -st-default: ShoppingCart;
}

.root {}


.mainHeader {
    position: relative;
}

.user {}

/* internal component */
.menuButton {
    width: 27px;
}

.menuButtonBar {
    height: 2px;
    background: var(--color-primary-contrast);
}

.menuButtonBar:not(:last-child) {
    margin-bottom: 7px;
}

.menu {
    -st-extends: Menu;
}

.logo {
    -st-extends: Logo;
}

.userStatus {
    -st-extends: UserStatus;
}

.mobileMenu {
    -st-extends: MobileMenu;
    z-index: 2;
}

.shoppingCart {
    -st-extends: ShoppingCart;
}

@media value(mobile) {    
    .userStatus,
    .menu {
        display: none !important;
    }
}

@media value(desktop) {
    .menuButton {
        display: none !important;
    }
}