@st-import [
    --color-primary-main, 
    --color-primary-dark, 
    --color-primary-contrast, 
    --border-primary-contrast-1
] from "../../common/base.st.css";

.root {
    -st-states: layout(enum(horizontal, vertical));
    display: flex;
}

.root:layout(vertical) {
    flex-direction: column;
}

.root:layout(horizontal) > :not(:last-child) {
    margin-right: var(--item-gap);
}

.root:layout(vertical) > :not(:last-child) {
    margin-bottom: var(--item-gap);
}

.item {
    padding: var(--item-padding, 1rem);
    text-align: center;
    text-decoration: none;
    white-space: nowrap;

    --item-bg-color: var(--color-primary-main);
    --item-text-color: var(--color-primary-contrast);
    --bg-hover-color: var(--color-primary-dark);

    background-color: var(--item-bg-color);
    color: var(--item-text-color, inherit);
}

.item:hover {
    background-color: var(--bg-hover-color, rgba(0, 0, 0, 0.1));
}
