:import {
    -st-from: "../common/project.st.css";
    -st-default: Project;
}


:import {
    -st-from: "../components/product-item/variants/product-item-basic.st.css";
    -st-named: basic;
}

:import {
    -st-from: "../components/product-item/product-item.st.css";
    -st-default: ProductItem;
}

:import {
    -st-from: "../components/header/variants/header-basic.st.css";
    -st-named: header;
}

:import {
    -st-from: "../components/header/header.st.css";
    -st-default: Header;
}

:import {
    -st-from: "../components/products-list/products-list.st.css";
    -st-default: ProductsList;
}

:import {
    -st-from: "../components/products-list/variants/products-list-grid.st.css";
    -st-named: productGrid;
}


@st-scope .root {
    /* 
        This theme customizes specific components by mixing in a designed varient of the component
    */
    ProductItem {
        -st-mixin: basic;
    }

    Header {
        -st-mixin: header;
    }

    ProductsList {
        -st-mixin: productGrid;
    }   
}
