:import {
    -st-from: "../common/project.st.css";
    -st-named:
        --color-bg,
        --color-primary,
        --color-primary-contrast,
        --overlay-color-1,
        --overlay-color-8,

        --unit-l,

        --pad-l,

        --font-family-primary,
        --font-family-secondary,
        --font-m,
        --font-l,
        --font-xxl
}

/* 
    This theme overrides some of the css variables defined in the project.st.css file,
    replacing the entire design of the application.
 */
.root {
    --color-bg: rgb(19, 23, 29);
    --color-primary: rgb(9, 7, 24);
    --color-primary-contrast: rgba(196, 187, 184, 1);
    --overlay-color-1: rgba(0, 0, 0, 0.07);
    --overlay-color-8: rgba(0, 0, 0, 0.8);

    --unit-l: 10px;

    --pad-l: 10rem;

    --font-family-primary: Tomorrow, serif;
    --font-family-secondary: Montserrat, sans-serif;
    --font-m: 16px;
    --font-l: 18px;
    --font-xxl: 26px;
}