@st-import Project, [
    --color-white, 
    --shadow-1, 
    --border-radius-1
] from "../../common/base.st.css";

.root {
    padding: 1rem;
    background: var(--color-white);
    box-shadow: var(--shadow-1);
    border-radius: var(--border-radius-1);
}
