@st-import [
    --color-secondary-main, 
    --color-secondary-dark, 
    --color-secondary-contrast, 
    --border-secondary-contrast-1, 
    --color-success-main, 
    --color-success-dark, 
    --color-success-contrast
] from "../../common/project.st.css";

@st-import Button, [
    --bg-color, 
    --text-color, 
    --border, 
    --bg-hover-color
] from "./button.st.css";

.cancelButton {
    -st-extends: Button;

    --bg-color: var(--color-secondary-main);
    --bg-hover-color: var(--color-secondary-dark);
    --text-color: var(--color-secondary-contrast);
    --border: var(--border-secondary-contrast-1);
}

.okButton {
    -st-extends: Button;

    --bg-color: var(--color-success-main);
    --bg-hover-color: var(--color-success-dark);
    --text-color: var(--color-success-contrast);
    --border: var(--border-secondary-contrast-1);
}
